* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  position: relative;
}
/* Hide checkbox */
#menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 10px;
}

.hamburger span {
  display: block;
  height: 4px;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
}
