* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(8, 8, 8);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
}

.menu {
  position: relative;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 10px;
}

.hamburger span {
  display: block;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

nav {
  position: absolute;
  top: 50px;
  left: -80px;
  width: 200px;
  background: #f1f1f1;
  padding: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* Show menu when checked */
#menu-toggle:checked + .hamburger + nav {
  display: flex;
}

/* Hamburger to X animation */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ================== HERO ==================  */
.hero-container {
  background-image: url(gym-hero.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

/* Adds darker tint */
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-container > * {
  position: relative;
  z-index: 2;
}

.hero-container p {
  font-size: 2rem;
}

.hero-container button {
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  margin-top: 1rem;
}
