* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  position: relative;
}
/* Hide checkbox */
#menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 10px;
}

.hamburger span {
  display: block;
  height: 4px;
  background: #333;
  border-radius: 2px;
  transition: 0.3s;
}

nav {
  position: absolute;
  top: 50px;
  left: -80px;
  width: 200px;
  background: #f1f1f1;
  padding: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

/* Show menu when checked */
#menu-toggle:checked + .hamburger + nav {
  display: flex;
}

/* Hamburger to X animation */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
